<div class="container">
  <div class="row">
    <h3>Users</h3>
    <div class="column">
      <table class="table">
        <tr>
          <th><%= check_box_tag "selectAll" %></th>
          <th>Email</th>
        </tr>
        <%= form_for(@user, method: :get, :url => add_employee_user_path(@user.id)) do |f| %>
          <% @users.each do |user| %>
            <tr>
              <td>
               <%= check_box_tag "user_id[#{user.id}]" , user.id %>
              </td>
              <td>
                <%= link_to user.email, user %>
              </td>
            </tr>
          <% end %>
      </table>
        <%= f.submit "Add" , class: "btn btn-large btn-primary" %>
        <% end %>
    </div>
  </div>
</div>
<script type="text/javascript">
$('#selectAll').click(function() {
   if (this.checked) {
       $(':checkbox').each(function() {
           this.checked = true;                        
       });
   } else {
      $(':checkbox').each(function() {
           this.checked = false;                        
       });
   } 
});
</script>
